<div class="card login-card p-4 p-md-5 d-flex flex-row align-items-center">
    <div class="d-none d-md-block text-center px-4">
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Avatar padrão">
    </div>

    <div class="flex-grow-1">
      <h4 class="fw-bold text-center text-md-start mb-4"><i class="bi bi-capsule"></i> LogiMed</h4>

      <form>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="sallesvini@gmail.com">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="••••••">
        </div>

        <div class="form-check justify-content-end mb-3">
            <input class="form-check-input" type="checkbox" value="" id="rememberMe">
            <label class="form-check-label" for="rememberMe">
                Lembrar-me
            </label>
        </div>

        <a routerLink="/home" class="btn btn-primary col-lg-12">Entrar</a>
      </form>
    </div>
</div>
